body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container que limite em X o tamanhho do output, fazendo as palavras darem wrap */
.container-output {
    max-width: 50%;
    word-wrap: break-word;
}

.form-group {
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-text {
    width: 400px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
}

.input-number {
    width: 50px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
}

.generate-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.output {
    font-size: 18px;
    font-weight: bold;
}

.select-dropdown {
    padding: 5px;
    border-radius: 8%;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.container-output {
    margin-top: 20px;
    width: 100%;
    /* all items side by side */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.output-section {
    margin-bottom: 20px;
}

.output-title {
    font-size: 18px;
    font-weight: bold;
}

.output {
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.output_snippet {
    white-space: pre-wrap;
}